In [59]:
# character
var <- "測試"
print(var)
class(var)

[1] "測試"

[1] "character"

In [60]:
# numeric
var <- 5
print(var)
class(var)

[1] 5

[1] "numeric"

In [61]:
# integer - as.integer
var <- as.integer(10)
print(var)
class(var)

# integer - 數字L
var <- 15L
print(var)
class(var)

[1] 10

[1] "integer"

[1] 15

[1] "integer"

In [62]:
# complex
var = 20+25i
print(var)
class(var)

[1] 20+25i

[1] "complex"

In [63]:
# logical
var = TRUE
# var = T
# var = FALSE
# var = F
print(var)
class(var)

[1] TRUE

[1] "logical"

In [64]:
# POSIXct POSIXt
var <- Sys.time()
print(var)
class(var)

[1] "2021-03-09 09:10:45 UTC"

[1] "POSIXct" "POSIXt"

In [65]:
# vector 向量?陣列?
var <- c(1, 5, 6, 21, -8)
print(var)
class(var)
# 取值起始索引是1
var[5]
var[6]

[1]  1  5  6 21 -8

[1] "numeric"

[1] -8

[1] NA

In [66]:
# factor?
var <- factor(c("男", "女", "男", "男", "女"))
print(var)
class(var)

[1] 男 女 男 男 女
Levels: 女 男

[1] "factor"

In [67]:
# 檢查資料型態/資料型態轉換
var <- 5
var
class(var)
is.numeric(var)
is.integer(var)

var <- as.integer(var)
var
class(var)
is.numeric(var)
is.integer(var)

[1] 5

[1] "numeric"

[1] TRUE

[1] FALSE

[1] 5

[1] "integer"

[1] TRUE

[1] TRUE

In [68]:
# 基本運算(可用於向量?資料)
var <- 5
var+2
var*3
var-4
var/5
var**6
var^7
# 商數
var%/%2
# 餘數
var%%2
sqrt(var)

[1] 7

[1] 15

[1] 1

[1] 1

[1] 15625

[1] 78125

[1] 2

[1] 1

[1] 2.236068

In [74]:
# 向量運算
data = c(171, 177, 178, 175, 202)
data
data >= 180

n <- length(data)
n
sum(data)
mean <- sum(data)/length(data)
mean
variance <- sum((data-mean)**2)/(length(data)-1)
variance

[1] 171 177 178 175 202

[1] FALSE FALSE FALSE FALSE  TRUE

[1] 5

[1] 903

[1] 180.6

[1] 150.3

In [77]:
# data.frame
span <- c(173, 182, 182, 178, 202)
difference <- span-data
table <- data.frame(span, data, difference)
table
class(table)

  span data difference
1 173  171  2
2 182  177  5
3 182  178  4
4 178  175  3
5 202  202  0

[1] "data.frame"

In [91]:
# data.frame取值[1,] [, 1]待補
"---------[列,欄位]索引---------"
table[1,3]
"---------[欄位]索引---------"
table[2]
"---------[列, ]索引---------"
table[2,]
"---------[, 欄位]索引---------"
table[, 3]
"---------欄位名稱(data.frame類型)---------"
table["data"]
"---------欄位名稱(vector類型)---------"
table$span

[1] "---------[列,欄位]索引---------"

[1] 2

[1] "---------[欄位]索引---------"

  data
1 171
2 177
3 178
4 175
5 202

[1] "---------[列, ]索引---------"

  span data difference
2 182  177  5

[1] "---------[, 欄位]索引---------"

[1] 2 5 4 3 0

[1] "---------欄位名稱(data.frame類型)---------"

  data
1 171
2 177
3 178
4 175
5 202

[1] "---------欄位名稱(vector類型)---------"

[1] 173 182 182 178 202

In [72]:
# 新增欄位的2個方法
table["ratio"] <- span/data
table$ratio <- span/data
# 取出單一欄位的方法, 差別在
# $欄位名 是基本資料型態(向量)
# ["欄位名"] 是data.frame型態
table$ratio
class(table$ratio)

table["ratio"]
class(table["ratio"])

 [1] 1.0116959 1.0282486 1.0224719 1.0171429 1.0000000 1.0994152 1.1186441
 [8] 1.0393258 1.1028571 0.9207921

[1] "numeric"

   ratio
1  1.0116959
2  1.0282486
3  1.0224719
4  1.0171429
5  1.0000000
6  1.0994152
7  1.1186441
8  1.0393258
9  1.1028571
10 0.9207921

[1] "data.frame"

In [93]:
install.packages("SportsAnalytics")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [94]:
library("SportsAnalytics")

In [ ]:
var <- fetch_NBAPlayerStatistics("15-16")
var
#str(var)

In [102]:
# 顯示前幾筆資料?
head(var, n=5)

  League Name          Team Position GamesPlayed TotalMinutesPlayed
1 NBA    Quincy Acy    SAC  SF       59           877
2 NBA    Jordan Adams  MEM  SG        2            15
3 NBA    Steven Adams  OKL  C        80          2019
4 NBA    Arron Afflalo NYK  SG       71          2359
5 NBA    Alexis Ajinca NOR  C        59           863
  FieldGoalsMade FieldGoalsAttempted ThreesMade ThreesAttempted ⋯ Steals
1 119            214                 19          49             ⋯ 29
2   2              6                  0           1             ⋯  3
3 261            426                  0           0             ⋯ 42
4 354            799                 91         238             ⋯ 25
5 150            314                  0           1             ⋯ 19
  Turnovers Blocks PersonalFouls Disqualifications TotalPoints Technicals
1 27        24     103           0                 307         3
2  2         0       2           0                   7         0
3 84        89     223           2                 636         2
4 82        10     142           1                 909         1
5 54        36     134           0                 352         2
  Ejections FlagrantFouls GamesStarted
1 0         0             29
2 0         0              0
3 0         0             80
4 0         0             57
5 0         0             17

In [ ]:
#取出所有NYK隊(???)的人的資料, 使用subset()
subset(var, Team=="NYK")

In [ ]:
#取出所有NYK隊(???)的人的資料, 使用[,], 得到一個data.frame
var[var["Team"]=="NYK",]

In [117]:
#對上面的data.frame取索引
var[var["Team"]=="NYK",][1:10,"Name"]
var[var["Team"]=="NYK",]["Name"]

 [1] "Arron Afflalo"    "Lou Amundson"     "Th Antetokounmpo" "Carmelo Anthony"
 [5] "Jose Calderon"    "Cleanthony Early" "Jimmer Fredette"  "Langsto Galloway"
 [9] "Jerian Grant"     "Robin Lopez"

    Name
4   Arron Afflalo
12  Lou Amundson
20  Th Antetokounmpo
21  Carmelo Anthony
76  Jose Calderon
128 Cleanthony Early
145 Jimmer Fredette
148 Langsto Galloway
165 Jerian Grant
272 Robin Lopez
337 Kyle O'quinn
361 Krista Porzingis
393 Kevin Seraphin
423 Lance Thomas
443 Sasha Vujacic
460 Derrick Williams